<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-- Kkf -->
    <div class="loginbox">
        
     <form> 
    <h1>Sign In</h1>
    <label>email:</label>
    <br>
    <input type="text" placeholder="enter your email">
    <label>password:</label>
    <input type="password" placeholder="enter password">
    <input type="submit" name="" value="signin">
    <label>don't have an account? </label>
    <a routerLink="/signup">sign up</a>
    </form>  
    </div>
    
</body>
</html>
