
.flex-container{
    display:flex;
    flex-flow:row nowrap;
    width:100% 
}

header.global-nav {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    width:100%;
    height:66px;
    padding :2px;
    border-bottom:1px solid rgba(0,0,0,0.1);
    position:sticky;
    top:0;
    z-index:10;
    background-color:#fff;
}
.Logo{
    flex-flow: row nowrap;
    flex: 0 0 10%;
    display:flex;
    align-items:center;
    margin-left:10px;
    padding :0.6rem 1rem;
    
}.Logo img{
    margin: auto;
    
}
.cont
{
    display:flex;
    flex-direction: row ;
}

a{
    text-decoration: none;
}
.btn a{
    display: flex;
    width :120px;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 0.3rem;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),0 1px 3px 1px rgba(60, 64, 67, 0.15);
    font-size: 0.875rem;
    background-color: #fff;
    border-radius: 24px;
    color :#3c4043;
    font-weight: 500;
    height: 45px;
    min-width: 56px;
    align-items: center;
}
.compose img{
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-left: -13px;

}

.shortcuts .btn a:hover{
    background-color: #fafafb;
    box-shadow: 0px 1px 3px 0 rgba(60, 64, 67, 0.3), 0px 4px 8px 3px rgba(60,64,67,0.15);
    cursor: pointer;
}





.main-content{
    flex:0 0 75%
}
.main-content .shortcuts{
display :flex;
flex-flow:row nowrap;
width: 95%;
height: 50px;
position: sticky;
align-items: center;
border-bottom: 1px solid rgba(0,0,0,0.1);
box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);
margin-top: 20px;
margin-bottom: 5px;
background-color: #ffffff;
}

.mail-list{
    color: #202124;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0 ;
    box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.12);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height:70px; 
}

.mail-icons{
    display: flex;
    flex: 0 0 25%;
    min-width: 25%;
    align-items: center;
    padding-left: 1rem;
    justify-content: flex-start;

}
.mail-icons:first-child{
    margin-right: 1rem;
}
.mail-icons:first-child{
    margin-right: 1rem;
}
.mail-icons .faStar{
    color:rgba(0,0,0,0.1);
    align-self: center;
    font-size: 15px;
    padding-right: 1rem;
    cursor: pointer;
}
.mail-icons input{
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.mail-list .mail-content{
    flex-basis: 50%;
    flex-grow:1;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-align: start;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}
.mail-list .title{
    font-size: 15px;
    line-height: 0.2px;
    font-weight: bold;
    margin-right: 2rem;
}
.mail-list .sub-text{
    width: 100%;
    font-weight: 200;
    color:rgba(0,0,0,0.5);

}
.mail-list .time-date{
    flex-basis:19%;
    font-size: 13px;
    font-weight: bold;
    padding-right: 1rem;
    padding-left: 2rem;
}
.mail-list:hover{
    box-shadow: 0px 1px 3px 0 rgba(60, 64, 67, 0.3), 0px 4px 8px 3px rgba(60,64,67,0.15);

}
.card-body:hover{
    box-shadow: 0px 1px 3px 0 rgba(60, 64, 67, 0.3), 0px 4px 8px 3px rgba(60,64,67,0.15);
    
}

#cnameI , #cnameBTN ,#cemailI ,#cnameBTN2 ,#cnameBTN3 , #cnameBTN1 ,#cnameI2{
    display: none;
    margin-left: 20px;
}
.add{
    line-height: 5px;
}
.FOLDER a{
    display: flex;
    width :150px;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 0.3rem;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),0 1px 3px 1px rgba(60, 64, 67, 0.15);
    font-size: 0.875rem;
    background-color: #fff;
    border-radius: 24px;
    color :#3c4043;
    font-weight: 500;
    height: 45px;
    min-width: 56px;
    align-items: center;

}.FOLDER img{
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-left: -13px;
}
.Sign{
    height: 40px;
    width: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.63);
    color :white;
    border-radius: 5px;
}.Sign:hover{
    background-color: rgba(60,64,67,0.08);
    cursor: pointer;
    color :black;
}
